@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../assets/sjsbi.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  height: 100vh;
  width: 100%;
  position: fixed;
  /* prevent overscroll bounce */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* iOS velocity scrolling */
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .gradient {
    background: -webkit-linear-gradient(#ff1b6b, #45caff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .glass {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /* border: 1px solid grey; */
  }

  .bgGradient {
    background: hsla(339, 88%, 47%, 1);

    background: linear-gradient(
      90deg,
      hsla(339, 88%, 47%, 1) 0%,
      hsla(260, 72%, 58%, 1) 53%,
      hsla(197, 100%, 64%, 1) 100%
    );

    background: -moz-linear-gradient(
      90deg,
      hsla(339, 88%, 47%, 1) 0%,
      hsla(260, 72%, 58%, 1) 53%,
      hsla(197, 100%, 64%, 1) 100%
    );

    background: -webkit-linear-gradient(
      90deg,
      hsla(339, 88%, 47%, 1) 0%,
      hsla(260, 72%, 58%, 1) 53%,
      hsla(197, 100%, 64%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E10F58", endColorstr="#7945E1", GradientType=1 );
  }
}
